<div class="modal-body">
  <div class="form-group">
    <label for="controller-template-for-{{controller.id}}">Select template</label>
    <select class="form-control controller-select-dropdown" id="controller-template-for-{{controller.id}}"
      name="controller-template" data-arrangement="#button-arrangement-{{controller.id}}"
      data-controls="#controller-drop-zone-{{controller.id}}">
      {% if controller.template.id > 0 %}
      <option value="{{controller.template.id}}" data-markup="{{controller.template.twig}}" selected>Custom</option>
      {% endif %}
      {% for template in templates %}
      <option value="{{template.id}}" data-markup="{{template.twig}}">{{template.label}}</option>
      {% endfor %}
    </select>
  </div>
  <input type="hidden" name="id" value="{{controller.id}}">
  <div class="form-group">
    <p>Drag buttons onto controller:</p>
    <input type="hidden" name="button-arrangement" id="button-arrangement-{{controller.id}}"
      class="hidden-button-arrangement" value='{{ button_arrangements[controller.id]|json_encode|raw }}'>
    <div class="row">
      <div class="col-sm-4">
        <div
          style="height: 300px;width: 100%;display: inline-flex; flex-flow: row wrap; justify-content: center; align-items: center;"
          class="drop-zone" ondrop="controller_drop_handler(event);" ondragover="dragover_handler(event);"
          id="controller-drop-zone-{{controller.id}}" data-controller="{{controller.id}}">
          {{ markup[loop.index-1]|raw }}
        </div>
      </div>
      <div class="col-sm-8">
        <div id="buttonList{{controller.id}}" style="max-height: 90vh;overflow: scroll">{{ render(controller('App\\Controller\\Button::listAll')) }}</div>
        <p><button type="button" class="btn btn-outline-primary mt-3" data-toggle="popover" title="Create new button" data-content='
          {% set buttonFormHandler = "newButton" %}
          {% set buttonFormAction = path("button-create") %}
          {% include "button-create.html.twig" %}
        '>Add button</button></p>
      </div>
    </div>
  </div>

</div>