<div class="modal-body">
  <div class="form-group">
    <label for="controller-template-for-{{controller.id}}">Select template</label>
    <select class="form-control controller-select-dropdown" id="controller-template-for-{{controller.id}}"
      name="controller-template" data-controls="#controller-drop-zone-{{controller.id}}">
      {% if controller.template.id > 0 %}
      <option value="0" selected>Custom</option>
      {% endif %}
      <option value="1">2 Buttons</option>
      <option value="2">4 Buttons</option>
      <option value="3">8 Buttons</option>
    </select>
  </div>
  <input type="hidden" name="id" value="{{controller.id}}">
  <div class="form-group">
    <p>Drag buttons onto controller:</p>
    <input type="hidden" name="button-arrangement" id="button-arrangement-{{controller.id}}"
      class="hidden-button-arrangement"
      value='{{ button_arrangements[controller.id]|json_encode|raw }}'>
    <div class="row">
      <div class="col-sm-6">
        <div style="height: 300px;width: 100%;display: inline-flex; flex-flow: row wrap; justify-content: center; align-items: center;" class="drop-zone" ondrop="controller_drop_handler(event);"
          ondragover="dragover_handler(event);" id="controller-drop-zone-{{controller.id}}"
          data-controller="{{controller.id}}">
          {{ markup[loop.index-1]|raw }}
        </div>
      </div>
      <div class="col-sm-6">
        <div id="buttonList{{controller.id}}">{{ render(controller('App\\Controller\\Button::listAll')) }}</div>
        <p><button type="button" class="btn btn-link" data-toggle="popover" title="Create new button" data-displayList="buttonDisplaySelect{{controller.id}}" data-content='
        <form onsubmit="return newButton(event, this)" action="{{ path("button-create") }}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="controllerId" value="{{controller.id}}">
          <div class="form-group">
            <label for="buttonDisplaySelect{{controller.id}}">Select display</label>
            <select class="form-control" id="buttonDisplaySelect{{controller.id}}" name="buttonDisplaySelect" onchange="return loadFrames(this)" data-target="#frameList{{controller.id}}">
              {% for display in displays %}
              <option value="{{display.id}}">{{display.label}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group" id="frameList{{controller.id}}">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="file{{controller.id}}">Button image</label>
            <input type="file" class="form-control-file" id="file{{controller.id}}" name="file">
          </div>
          <div class="form-group">
            <div class="progress" style="display: none">
              <div class="progress-bar" id="progress-bar{{controller.id}}" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        '>Add button</button></p>
      </div>
    </div>
  </div>

</div>