<div class="card-columns" style="max-height: 350px;overflow:scroll">
    {% for button in buttons %}
    {% set buttonFormHandler = "editButton" %}
    {% set buttonFormAction = path("button-edit", {id: button.id}) %}
    {% set controller = []|merge({'id': button.id})  %}
    <div class="card mb-3">
        <img src="{{ path('index') }}uploads/{{button.image}}" class="card-img-top" draggable="true"
            ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);" id="button{{button.id}}"
            alt="Button image">
        <div class="card-body">
            <h5 class="card-title">{{button.typeString}} button</h5>
            <button type="button" class="btn btn-primary" data-toggle="popover" title="Edit button"
                data-content='{% include "button-create.html.twig" %}'>Edit</button>
            <button type="button" class="btn btn-danger delete-button-btn" data-buttonId="{{button.id}}">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>