<form onsubmit="return {{buttonFormHandler}}(event, this)" action="{{ buttonFormAction }}" method="POST" enctype="multipart/form-data">
  {% if button is defined %}<input type="hidden" name="buttonId" value="{{button.id}}" id="hiddenButtonId{{controller.id}}">{% endif %}
  <div class="form-group">
    <label for="buttonTypeSelect{{controller.id}}">Button type</label>
    <select class="form-control" id="buttonTypeSelect{{controller.id}}" name="buttonTypeSelect" data-controllerId="{{controller.id}}" onchange="return selectButtonType(this)">
      <option value="">&nbsp;</option>
      <option value="1">Trigger frame</option>
      <option value="2">Play/pause button</option>
      <option value="3">Show another controller</option>
    </select>
  </div>
  <div class="form-group">
    <label for="buttonDisplaySelect{{controller.id}}">Select display</label>
    <select class="form-control" id="buttonDisplaySelect{{controller.id}}" name="buttonDisplaySelect" onchange="return loadCarousels(this)" data-target="#carouselList{{controller.id}}" data-type="buttonTypeSelect{{controller.id}}">
      {% for display in displays %}
      <option value="{{display.id}}" {% if button is defined and display.id == button.onDisplay.id %}selected{% endif %}>{{display.label}}</option>
      {% endfor %}
    </select>
  </div>
  <div id="triggerFrame{{controller.id}}" style="display: none">
    <div class="form-group" id="carouselList{{controller.id}}">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="form-group" id="frameList{{controller.id}}">
    </div>
  </div>
  <div id="triggerController{{controller.id}}" style="display: none">
    <div class="form-group">
      <label for="triggerUrl{{controller.id}}">Select controller</label>
      <select class="form-control" name="UrlSelect" id="triggerUrl{{controller.id}}">
        {% for controller in controllers %}
        <option value="{{ app.request.getSchemeAndHttpHost }}{{path('controller-url', {id: controller.id})}}">{{controller.label}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% if buttonFormHandler == "newButton" %}
  <div class="form-group image-upload">
    <label for="file{{controller.id}}">Button image</label>
    <input type="file" class="form-control-file" id="file{{controller.id}}" name="file">
  </div>
  <div class="form-group">
    <div class="progress" style="display: none">
      <div class="progress-bar" id="progress-bar{{controller.id}}" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {% endif %}
  <input type="hidden" name="controllerId" value="{{controller.id}}">
  <button type="submit" class="btn btn-primary shadow">Submit</button>
</form>

