<div class="modal-body">
  <div class="form-group">
    <label for="controller-template-for-{{controller.id}}">Select template</label>
    <select class="form-control controller-select-dropdown" id="controller-template-for-{{controller.id}}"
      name="controller-template" data-controls="#controller-drop-zone-{{controller.id}}">
      {% if controller.template.id > 0 %}
      <option value="0" selected>Custom</option>
      {% endif %}
      <option value="-3" data-index="1">2 Buttons</option>
      <option value="-4" data-index="2">4 Buttons</option>
      <option value="-5" data-index="3">6 Buttons</option>
      <option value="-6" data-index="4">8 Buttons</option>
    </select>
  </div>
  <input type="hidden" name="id" value="{{controller.id}}">
  <div class="form-group">
    <p>Drag buttons onto controller:</p>
    <input type="hidden" name="button-arrangement" id="button-arrangement-{{controller.id}}"
      class="hidden-button-arrangement"
      value='{{ button_arrangements[controller.id]|json_encode|raw }}'>
    <div class="row">
      <div class="col-sm-4">
        <div style="height: 300px;width: 100%;display: inline-flex; flex-flow: row wrap; justify-content: center; align-items: center;" class="drop-zone" ondrop="controller_drop_handler(event);"
          ondragover="dragover_handler(event);" id="controller-drop-zone-{{controller.id}}"
          data-controller="{{controller.id}}">
          {{ markup[loop.index-1]|raw }}
        </div>
      </div>
      <div class="col-sm-8">
        <div id="buttonList{{controller.id}}">{{ render(controller('App\\Controller\\Button::listAll')) }}</div>
        <p><button type="button" class="btn btn-link" data-toggle="popover" data-placement="top" title="Create new button" data-displayList="buttonDisplaySelect{{controller.id}}" data-content='
          {% set buttonFormHandler = "newButton" %}
          {% set buttonFormAction = path("button-create") %}
          {% include "button-create.html.twig" %}
        '>Add button</button></p>
      </div>
    </div>
  </div>

</div>