{% if carousels is empty %}
<p class="text-muted text-center">You have no configured carousels.</p>
{% else %}
<table class="table">
	<thead>
		<tr>
			<th scope="col" style="border-top:none">#</th>
			<th scope="col" style="border-top:none">Label</th>
			<th scope="col" style="border-top:none">Frames</th>
			<th scope="col" style="border-top:none">&nbsp;</th>
		</tr>
	</thead>

	<tbody>

		{% for carousel in carousels %}
		<tr>
			<th scope="row">{{loop.index}}</th>
			<td>{{carousel.label}}</td>
			<td>{{carousel.length}}</td>
			<td class="form-inline" style="min-width:160px;">
				<button class="btn btn-primary mr-2" data-toggle="modal"
					data-target="#carousel-{{carousel.id}}-createFormModal">Edit</button>

				<form action="{{ path('carousel-delete', {'id': carousel.id}) }}" method="POST">
					<input type="submit" class="btn btn-danger" value="Delete">
				</form>
			</td>
		</tr>
		{% endfor %}


	</tbody>

</table>
{% endif %}

{% for carousel in carousels %}
<div class="modal fade" id="carousel-{{carousel.id}}-createFormModal" tabindex="-1" role="dialog"
	aria-labelledby="carousel-{{carousel.id}}-createFormModal-Label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="{{ path('carousel-save-frames', {'id': carousel.id}) }}" method="POST">

				{% if carousel.frames is empty %}
				<div class="modal-header">
					<h4 class="modal-title" id="carousel-{{carousel.id}}-createFormModal-Label">No frames</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% else %}
				<div class="modal-header">
					<h4 class="modal-title" id="carousel-{{carousel.id}}-createFormModal-Label">Edit Frames for {{carousel.label}}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endif %}

				<div id="carousel-{{carousel.id}}-frame-edit">
					{% for frame in carousel.frames %}
					{% include 'frame-edit.html.twig' %}
					{% endfor %}
				</div>

				<div class="modal-body">
					<div class="form-group">
						<input type="button" class="btn btn-primary carousel-add-new-frame" data-carousel-for="{{carousel.id}}"
							value="Add frame">
					</div>
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" id="save-frame" value="Save carousel">
				</div>
			</form>
		</div>
	</div>
</div>
{% endfor %}