<table class="table">
    <thead>
        <tr>
        <th scope="col" style="border-top:none">#</th>
        <th scope="col" style="border-top:none">Label</th>
        <th scope="col" style="border-top:none">&nbsp;</th>
        </tr>
    </thead>

    <tbody>

    {% for display in displays %}
        <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{display.label}}</td>
        <td class="form-inline">
            <button class="btn btn-primary" data-toggle="modal" data-target="#display-{{display.id}}-createFormModal">Edit</button>

            <form action="{{ path('display-delete', {'id': display.id}) }}"
                method="post">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </td>
        </tr>
    {% endfor %}


    </tbody>

</table>

{% for display in displays %}
<div class="modal fade" id="display-{{display.id}}-createFormModal" tabindex="-1" role="dialog" aria-labelledby="display-{{display.id}}-createFormModal-Label"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="{{ path('display-save-presentations', {'id': display.id}) }}" method="POST">
        {% if display.presentations is empty %}
          <div class="modal-header">
            <h5 class="modal-title" id="createPresModalLabel" id="display-{{display.id}}-createFormModal-Label">No Presentation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          

          <div class="modal-body" id="new-pres">
            <div class="form-group">
              <label for="pres_template_for_{{display.id}}">Select template</label>
              <select class="form-control" id="pres_template_for_{{display.id}}" name="pres_template[]">
                <option value="1">Fullscreen</option>
                <option value="2">Fullscreen with marquee</option>
                <option value="3">Horizontally split</option>
                <option value="4">Vertically split</option>
              </select>
            </div>
            <div class="form-group">
              <p>Drag carousels onto template:</p>
              <div class="row">
                <div class="col-sm-6">
                  <div style="height: 300px;width: 100%;background: slategray;" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" id="drop-zone"></div>
                </div>
                <div class="col-sm-6">
                {{ render(controller('App\\Controller\\Carousel::list')) }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="pres_duration_for_{{display.id}}">Duration</label>
              <input type="number" class="form-control" id="pres_duration_for_{{display.id}}" aria-describedby="pres_duration_help"
                name="pres_duration[]">
              <small id="pres_duration_help" class="form-text text-muted">In milliseconds</small>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="skip_{{display.id}}" name="skip[]">
              <label class="form-check-label" for="skip_{{display.id}}">Skip in main loop</label>
            </div>
          </div>


        {% endif %}
        <div id="display-{{display.id}}-presentation-edit">
        {% for presentation in display.presentations %}
        
            {% include 'presentation-edit.html.twig' %}

        {% endfor %}
        </div>
        <div class="modal-body">
          <div class="form-group">
            <button class="btn btn-primary display-add-new-pres" data-display-for="{{display.id}}">Add presentation</button>
          </div>
        </div>
        

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" id="save-pres" value="Save changes">
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}