{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
{# <meta name="description" content=""> #}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
  {% include 'js/googleSlides.js' %}

  {% include 'js/getYoutubeId.js' %}

  {% include 'js/forms.js' %}

  {% include 'js/dragAndDrop.js' %}
</script>
{% endblock %}

{% block styles %}
<style>
.drop-zone {
  background: #ecf0f1;
}
.drop-zone > div {
  box-shadow: inset 0 0 7px #2c3e50;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
  <img src="https://environmentaldashboard.org/prefs/images/env_logo.png" alt="" class="img-fluid">
  <div style="height:50px;clear:both;"></div>
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="display-tab" data-toggle="pill" href="#displays" role="tab"
          aria-controls="displays" aria-selected="true">Displays</a>
        <a class="nav-link" id="carousels-tab" data-toggle="pill" href="#carousels" role="tab"
          aria-controls="carousels" aria-selected="false">Carousels</a>
        <a class="nav-link" id="remote-controllers-tab" data-toggle="pill" href="#controllers" role="tab"
          aria-controls="controllers" aria-selected="false">Remote Controllers</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="tabContent">
        <div class="tab-pane fade show active" id="displays" role="tabpanel"
          aria-labelledby="display-tab">
          <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab-display" role="tablist">
              <a class="nav-item nav-link active" id="nav-all-displays-tab" data-toggle="tab" href="#nav-all-displays"
                role="tab" aria-controls="nav-all-displays" aria-selected="true">View all</a>
              <a class="nav-item nav-link" id="nav-create-display-tab" data-toggle="tab" href="#nav-create-display"
                role="tab" aria-controls="nav-create-display" aria-selected="false">Create new</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all-displays" role="tabpanel"
              aria-labelledby="nav-all-displays-tab">

              {{ render(controller('App\\Controller\\Display::table')) }}

            </div>
            <div class="tab-pane fade" id="nav-create-display" role="tabpanel" aria-labelledby="nav-create-display-tab">
              <form id="create-display-form" action="{{ path('display-create') }}" method="POST" class="mt-3">
                <div class="form-group row">
                  <label for="display-label" class="col-sm-2 col-form-label">Label</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="display-label" name="display-label" placeholder="Label">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create display</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="carousels" role="tabpanel" aria-labelledby="carousels-tab">
          <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab-carousel" role="tablist">
              <a class="nav-item nav-link active" id="nav-all-carousels-tab" data-toggle="tab" href="#nav-all-carousels"
                role="tab" aria-controls="nav-all-carousels" aria-selected="true">View all</a>
              <a class="nav-item nav-link" id="nav-create-carousel-tab" data-toggle="tab" href="#nav-create-carousel"
                role="tab" aria-controls="nav-create-carousel" aria-selected="false">Create new</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all-carousels" role="tabpanel"
              aria-labelledby="nav-all-carousels-tab">

              {{ render(controller('App\\Controller\\Carousel::table')) }}

            </div>
            <div class="tab-pane fade" id="nav-create-carousel" role="tabpanel"
              aria-labelledby="nav-create-carousel-tab">
              <form id="create-carousel-form" action="{{ path('carousel-create') }}" method="POST" class="mt-3">
                <div class="form-group row">
                  <label for="carousel-label" class="col-sm-2 col-form-label">Label</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="carousel-label" name="carousel-label"
                      placeholder="Label">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create carousel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="controllers" role="tabpanel"
          aria-labelledby="remote-controllers-tab">
          <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab-remote-controller" role="tablist">
              <a class="nav-item nav-link active" id="nav-all-controllers-tab" data-toggle="tab"
                href="#nav-all-controllers" role="tab" aria-controls="nav-all-controllers" aria-selected="true">View
                all</a>
              <a class="nav-item nav-link" id="nav-create-controller-tab" data-toggle="tab"
                href="#nav-create-controller" role="tab" aria-controls="nav-create-controller"
                aria-selected="false">Create new</a>
            </div>
          </nav>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-all-controllers" role="tabpanel"
              aria-labelledby="nav-all-controllers-tab">

              {{ render(controller('App\\Controller\\RemoteController::table')) }}

            </div>

            <div class="tab-pane fade show" id="nav-create-controller" role="tabpanel"
              aria-labelledby="nav-create-controller-tab">
              <form action="{{ path('controller-create') }}" method="POST" class="mt-3">
                <div class="form-group row">
                  <label for="controller-label" class="col-sm-2 col-form-label">Label</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="controller-label" name="controller-label"
                      placeholder="Label">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create remote controller</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}