{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
{# <meta name="description" content=""> #}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
  // Submit event to fire when carousel form submitted
  var createCarousel = function(e) {
    e.preventDefault();

    // Update carousel list & modals
    $.post($(this).attr('action'), $(this).serialize()).done(function() {
      $.ajax({
          url: "{{ path("carousel-table") }}",
          type: "GET",
          success: function(data) {
            $("#nav-all-carousels").html(data);

            // Re-apply submit event to new forms
            $('form[action="{{ path("carousel-create") }}"]').on('submit', createCarousel);
          }
      });
    });
  };

  // Submit event to fire when display form submitted
  var createDisplay = function(e) {
    e.preventDefault();

    // Update display list & modals
    $.post($(this).attr('action'), $(this).serialize()).done(function() {
      {# $.ajax({
          url: "{{ path("display-table") }}",
          type: "GET",
          success: function(data) {
            $("#nav-all-displays").html(data);

            // Re-apply submit event to new forms
            $('form[action="{{ path("display-create") }}"]').on('submit', createDisplay);
          }
      }); #}
    });
  };

  $('form[action="{{ path("carousel-create") }}"]').on('submit', createCarousel);
  $('form[action="{{ path("display-create") }}"]').on('submit', createDisplay);

  // Add new frame
  $(".carousel-add-new-frame").each(function(){
    $(this).on('click', function(e) {
			var carousel = $(this).data('carousel-for');
			var clone = $('#new-frame' + carousel).clone();
			randomize_ids(clone);
			clone[0].firstElementChild.innerHTML = 'New frame';
      $("#carousel-" + carousel + "-frame-edit").append(clone);
    });
  });

  // Add new presentation
  $(".display-add-new-pres").each(function(){
    $(this).on('click', function(e) {
      e.preventDefault();
      var display = $(this).data('display');
			var clone = $('#new-pres' + display).clone();
			randomize_ids(clone);
			clone[0].firstElementChild.innerHTML = 'New presentation';
			var drop_zone = clone.find('.drop-zone'), select_drop_zone = clone.find('select'), input = clone.find('input[name="frame-arrangement"]');
			var new_pres_id = guidGenerator();
			var new_dropzone_id = guidGenerator();
			select_drop_zone.attr('data-controls', '#' + new_dropzone_id)
			drop_zone.attr('data-pres', new_pres_id);
			drop_zone.attr('id', new_dropzone_id);
			input.attr('id', 'frame-arrangement-' + new_pres_id);
			console.log(clone.html());
      $("#display-" + display + "-presentation-edit").append(clone);
    });
  });

  {% spaceless %}
  var templates = [ '{{ render(controller('App\\Controller\\Display::template',{'name': 'fullscreen'})) }}',
                    '{{ render(controller('App\\Controller\\Display::template', {'name': 'marquee'})) }}' ];
  {% endspaceless %}

  $(".template-select-dropdown").each(function(){
    $(this).on('change', dropdown_template);
	});
	function dropdown_template(e) {
		e.preventDefault();
		var controls = $(this).data('controls');
		var selected = $(this).find(":selected").val();
		$(controls).html(templates[selected - 1]);
	}

{# https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API,
   https://mdn.github.io/dom-examples/drag-and-drop/copy-move-DataTransfer.html #}
function dragstart_handler(ev) {
 // Change the source element's background color to signify drag has started
 ev.currentTarget.style.background = "var(--light)";
 // Add the id of the drag source element to the drag data payload so
 // it is available when the drop event is fired
 ev.dataTransfer.setData("text", ev.target.id);
 // Tell the browser both copy and move are possible
 ev.effectAllowed = "copyMove";
}
function dragover_handler(ev) {
 // Change the target element's border to signify a drag over event
 // has occurred
 {# ev.currentTarget.style.background = "var(--light)"; #}
 ev.preventDefault();
}
function drop_handler(ev) {
  ev.preventDefault();
  // Get the id of drag source element (that was added to the drag data
  // payload by the dragstart event handler)
  var id = ev.dataTransfer.getData("text");
  var text = document.getElementById(id).innerHTML;
	ev.target.innerHTML = text;
	var twig_key = ev.target.getAttribute('data-twig');
	var carousel_id = id.substring(8); // cut off 'carousel'
	var input = document.getElementById('frame-arrangement-' + ev.target.parentNode.getAttribute('data-pres'));
	var cur_elems = JSON.parse(input.value);
	cur_elems[twig_key] = carousel_id;
	input.value = JSON.stringify(cur_elems);
}
function dragend_handler(ev) {
  // Restore source's border
  ev.target.style.border = "none";
  // Remove all of the drag data
  ev.dataTransfer.clearData();
}
function randomize_ids(container_div) {
	var modal_body = container_div[0];
	var children = modal_body.children;
	for (var i = 0; i < children.length; i++) {
		var descendants = children[i].children;
		var cur_id = guidGenerator();
		for (var j = 0; j < descendants.length; j++) {
			if (descendants[j].tagName === 'LABEL') {
				descendants[j].setAttribute('for', cur_id);
			} else if (descendants[j].tagName === 'INPUT') {
				descendants[j].setAttribute('id', cur_id);
			} else if (descendants[j].tagName === 'SELECT') {
				descendants[j].setAttribute('id', cur_id);
				$(descendants[j]).on('change', dropdown_template);
			}
		}
		
	}
}
function guidGenerator() {
	var S4 = function () {
		return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
	};
	return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
}
</script>
{% endblock %}


{% block body %}
<!-- modal -->
<div class="modal fade" id="createButtonModal" tabindex="-1" role="dialog" aria-labelledby="createButtonModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="createButtonModalLabel">Add Button</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="on_display">Which display?</label>
            <select class="form-control" id="on_display" name="on_display">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="trigger_frame">Which frame?</label>
            <select class="form-control" id="trigger_frame" name="trigger_frame">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="button_twig_key">Button placement</label>
            <select class="form-control" id="button_twig_key" name="button_twig_key">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save-button">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
  <img src="https://environmentaldashboard.org/prefs/images/env_logo.png" alt="" class="img-fluid">
  <div style="height:50px;clear:both;"></div>
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-display-tab" data-toggle="pill" href="#v-pills-displays" role="tab"
          aria-controls="v-pills-displays" aria-selected="true">Displays</a>
        <a class="nav-link" id="v-pills-carousels-tab" data-toggle="pill" href="#v-pills-carousels" role="tab"
          aria-controls="v-pills-carousels" aria-selected="false">Carousels</a>
        <a class="nav-link" id="v-pills-remote-controllers-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false">Remote Controllers</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-displays" role="tabpanel" aria-labelledby="v-pills-display-tab">
          <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-all-displays-tab" data-toggle="tab" href="#nav-all-displays"
                role="tab" aria-controls="nav-all-displays" aria-selected="true">View all</a>
              <a class="nav-item nav-link" id="nav-create-display-tab" data-toggle="tab" href="#nav-create-display"
                role="tab" aria-controls="nav-create-display" aria-selected="false">Create new</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all-displays" role="tabpanel" aria-labelledby="nav-all-displays-tab">
              {{ render(controller('App\\Controller\\Display::table')) }}
              {# <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="border-top:none">#</th>
                    <th scope="col" style="border-top:none">Label</th>
                    <th scope="col" style="border-top:none">Presentations</th>
                    <th scope="col" style="border-top:none">Total carousels</th>
                    <th scope="col" style="border-top:none">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Carousel a</td>
                    <td>4</td>
                    <td>9</td>
                    <td>
                      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#createPresModal">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table> #}
            </div>
            <div class="tab-pane fade" id="nav-create-display" role="tabpanel" aria-labelledby="nav-create-display-tab">
              <form id="create-display-form" action="{{ path('display-create') }}" method="POST" class="mt-3">
                <div class="form-group row">
                  <label for="display-label" class="col-sm-2 col-form-label">Label</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="display-label" name="display-label" placeholder="Label">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create display</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-carousels" role="tabpanel" aria-labelledby="v-pills-carousels-tab">
          <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-all-carousels-tab" data-toggle="tab" href="#nav-all-carousels"
                role="tab" aria-controls="nav-all-carousels" aria-selected="true">View all</a>
              <a class="nav-item nav-link" id="nav-create-carousel-tab" data-toggle="tab" href="#nav-create-carousel"
                role="tab" aria-controls="nav-create-carousel" aria-selected="false">Create new</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all-carousels" role="tabpanel" aria-labelledby="nav-all-carousels-tab">
              
            {{ render(controller('App\\Controller\\Carousel::table')) }}

            </div>
            <div class="tab-pane fade" id="nav-create-carousel" role="tabpanel" aria-labelledby="nav-create-carousel-tab">
              <form id="create-carousel-form" action="{{ path('carousel-create') }}" method="POST" class="mt-3">
                <div class="form-group row">
                  <label for="carousel-label" class="col-sm-2 col-form-label">Label</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="carousel-label" name="carousel-label" placeholder="Label">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create carousel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-remote-controllers-tab">
          <p class="text-muted text-center">You have no configured remote controllers.</p>
          <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-all-controllers-tab" data-toggle="tab" href="#nav-all-controllers"
                role="tab" aria-controls="nav-all-controllers" aria-selected="true">View all</a>
              <a class="nav-item nav-link" id="nav-create-controller-tab" data-toggle="tab" href="#nav-create-controller"
                role="tab" aria-controls="nav-create-controller" aria-selected="false">Create new</a>
            </div>
          </nav>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-all-controllers" role="tabpanel" aria-labelledby="nav-all-controllers-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="border-top:none">#</th>
                    <th scope="col" style="border-top:none">Label</th>
                    <th scope="col" style="border-top:none">Buttons</th>
                    <th scope="col" style="border-top:none">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Remote controller a</td>
                    <td>4</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Remote controller b</td>
                    <td>4</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Remote controller c</td>
                    <td>4</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade show" id="nav-create-controller" role="tabpanel" aria-labelledby="nav-create-controller-tab">
              <form id="create-controller-form" action="" method="POST" class="mt-3" data-action="create-controller">
                <div class="form-group row">
                  <label for="controller-label" class="col-sm-2 col-form-label">Label</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="controller-label" name="controller-label" placeholder="Label">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="controller-label" class="col-sm-2 col-form-label">Controller template</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="controller-label" name="controller-template">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <p class="col-sm-2 col-form-label">Buttons</p>
                  <div class="col-sm-10">
                    <ul class="list-group list-group-flush" id="button-list">
                    </ul>
                    <button type="button" class="btn btn-light mt-2 btn-sm" data-toggle="modal" data-target="#createButtonModal">Add
                      button</button>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create remote controller</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}